body { font-family: Poppins, sans-serif; margin: 0; background: #f9f9f9;  padding: 0;}
header { background: #333; color: #fff; padding: 10px 20px; display: flex; justify-content: space-between; align-items: center; }
nav a { color: #fff; margin-left: 15px; text-decoration: none; }
.product-list { display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-top: 20px; }
.product-card { background: #fff; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 15px; text-align: center; width: 200px; }
.product-card img { width: 100%; border-radius: 8px; }
button { background: #333; color: white; border: none; padding: 10px 15px; border-radius: 5px; cursor: pointer; }
button:hover { background: #555; }
.auth-container { max-width: 350px; margin: 100px auto; background: #fff; padding: 30px; border-radius: 10px; text-align: center; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }
.auth-container input { width: 90%; margin: 10px 0; padding: 10px; border-radius: 5px; border: 1px solid #ccc; }
.auth-container button { width: 100%; }


.navbar {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
}

.navbar .logo {
  font-size: 22px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

#logoutBtn {
  background: #e74c3c;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

#logoutBtn:hover {
  background: #c0392b;
}

#userName {
  margin-right: 10px;
  font-weight: bold;
}


/* Footer styling */
.footer {
  background: #222;
  color: #eee;
  text-align: center;
  padding: 20px;
 
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 14px;
}

.footer a {
  color: #f8b400;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-content {
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
}
